body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font: {
    size: 1.5rem;
    weight: 500;
  }
  color: $black;
}

h2 {
  font: {
    size: 1.2rem;
    weight: 300;
  }
  color: $light-red;
}

h3 {
  font: {
    size: 0.9rem;
    weight: 400;
  }
  color: $white;
}

.text-description {
  font: {
    size: 0.9rem;
    weight: 400;
  }
  line-height: 1.7em;
  color: $gray;
}

.timeAndComment {
  p {
    font: {
      size: 0.8rem;
      weight: 400;
    }
    color: $light-gray;
  }
}
